body{
    margin: 0;
}
#backgourd{
    z-index: 99;
}
#name{
    margin: 0 ;
    user-select: none;
    font-family: 宋体;
    position: absolute;/*相对平移*/
    width: 1900px;
    height: 50px;
    font-size: 300%;/*字体大小*/
    color: white;
    text-align: center;
}

.a{
    margin: 0;
    position:absolute ;
    width: 320px;
    height: 250px;

}

.d {
    margin: 0;
    position: absolute;
    width: 334px;
    height: 274px;
    left: 1600px;
}
#qq{
    margin: 0;
    position: fixed ;
    top: 770px;
}
#end{
    margin: 0;
    user-select: none;
    position: absolute;
    text-align: center ;
    width: 100%;
    top: 90%;
    font-size: 200%;
    color: white;
}

.w {
    width: 1200px;
    margin: 140px auto;
}
.nav_menu {
    position: absolute;
    left: 340px;
    top: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding: 10px;
    color: #fff;

}
.menu_item {
    position: relative;
    flex: 1;
    height: 100%;
    line-height: 50px;
    transform-style: preserve-3d;
    transition: all 0.5s;

}
.menu_item:hover {
    cursor: pointer;
    transform: rotateX(90deg);
}
.home, .web_home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 300px;
}
.home {
    background-color: #20ffda;
    transform: translateZ(200px);
}
.web_home {
    background-color: #000000;
    transform: translateY(200px) rotateX(-90deg);
}
#frist1{
    background: url("../image/5.JPG");
}
#frist2{
    background: url("../image/6.JPG");
}
#second1{
    background: url("../image/13.JPG");
}
#second2{
    background: url("../image/15.JPG");
}
#third1{
    background:url("../image/11.JPG") ;
}
#third2{
    background: url("../image/12.JPG");
}


